{% extends 'base.html' %}
{% block title %} about {% endblock title %}
{% block body %}
<form action="/about" method="POST"></form>

<h1> About us:</h1>
  
    "Hi, I'm Saurabh Creator of this Todo app. By the help of this app
    you can be up to date about your daily tasks so you can complete your
    tasks on time. 
    you can simply add title of a task in task section and description in description
    section in the app. You can also update your tasks or description in case of wrong writting or misspelling.
    you can delete your task after complitioon


<h2> created by:</h2>  
    Saurabh Rajpurohit and Harry
<h3>tools:</h3> 
    Bootstrap, Flask
<h4>Programming Language:</h4>
     PYTHON,HTML


{% endblock body %}